<div class="container">
<% if @current_user %>
    <%= link_to 'Add a new post', "/users/#{@current_user.id}/posts/new", class: "btn btn-success" %>
  <% end %>
  <% if @users.empty? %>
    <p>There are no users for now</p>
  <% end %>
  <% @users.each do |user| %>
    <a href="/users/<%= user.id %>" class="text-decoration-none">
      <%= render 'pages/user_card', user: user %>
    </a>
  <% end %>
  
</div>