<h1 class="user-title font-bold text-4xl my-10"> Welcome To User Page</h1>
<div class="container-fluid mt-5">
<% if @users.empty? %>
  <p>Please add users</p>
<% end %>
<% @users.each do |user| %>
  <a href="/users/<%= user.id %>" class="text-decoration-none">
    <%= render partial: 'pages/user_card', locals: { user: user } %>
  </a>
<% end %>
</div>